<!DOCTYPE html>
<html>
<head>
  <title>artEventListener</title>
  <%= include_gon %>
  <%=favicon_link_tag %>
  <!-- d3 -->
  <%= javascript_include_tag 'http://d3js.org/d3.v3.min.js', charset: 'utf-8' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> 
  <!-- styles-->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Monofett|Raleway' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="wrapper">
      <section id="intro" class="fixed">
        <div class="curtain">
          <section id="clickBanner" class="banner">
          <h1>artEventListener</h1>
          <h2> >> Enter << </h2>
          
          </section>
          <ul class="row accordion">
            <li class="col-md-2"><span class="pic one"></span></li>
            <li class="col-md-2"><span class="pic two"></span></li>
            <li class="col-md-2"><span class="pic three"></span></li>
            <li class="col-md-2"><span class="pic four"></span></li>
            <li class="col-md-2"><span class="pic five"></span></li>
            <li class="col-md-2"><span class="pic six"></span></li>
          </ul>
        </div>
      </section>

      <!-- <ul class="row accordion transition">
        <li class="col-md-2"><span class="one"></span></li>
        <li class="col-md-2"><span class="two"></span></li>
        <li class="col-md-2"><span class="three"></span></li>
        <li class="col-md-2"><span class="four"></span></li>
        <li class="col-md-2"><span class="five"></span></li>
        <li class="col-md-2"><span class="six"></span></li>
      </ul>   -->
    </div><!--wrapper -->
    <section id="indexes">


        <div class="container">



          <h2>NYC Art Events</h2>
          <div id="sequence"></div>
          <section id="sunChart">
            <div id="explanation" style="visibility: hidden;">
              <span id="percentage"></span><br/>Art Events
            </div>
         </section>
        


          <h2>Events By Neighborhoods</h2>
          <section id="nChart">
          </section>
          <h2>Events By Category</h2>
          <section id="catChart"></section>
        </div>
    </section>
  </div><!--container fluid -->
</body>
</html>
